<CTYPE html>
<html class="ui-mobile"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>订单列表</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="/resource/iconfont/iconfont.css"/>
    <script type="text/javascript" src="/lib/js/jquery-1.11.1.min.js"></script>
</head>

<body style="padding:0;margin: 0;">
<table width=”450″ border="1" cellspacing="0" cellpadding="2" bordercolor="#009900">
    <tr>
        <td>订单号</td>
        <td>订单金额</td>
        <td>订单标题</td>
        <td>订单状态</td>
        <td>渠道</td>
        <td>操作</td>
    </tr>

    {% for bill in bills %}
    <tr>
     <td>{{bill['bill_no']}}</td>  <td>{{bill['total_fee']}}</td> <td>{{bill['title']}}</td> <td>{{bill['spay_result']}}</td>
     <td>{{bill['channel']}}
     <td>{% if bill['spay_result'] %} <a href = "/refund?bill_no={{bill['bill_no']}} &refund_fee={{bill['total_fee']}}" target='_blank'> 退款
     </a>{% end %}
 </tr>
    {% end %}
</table>
</body>

<script>
    
</script>
</html>

